version: '2'
services:
    web:
        build: .
        command: npm run start
        volumes:
            - .:/usr/app/
            - /usr/app/node_modules
        ports:
            - "3001:3001"
        depends_on:
            - mongodb
        links:
            - mongodb
    mongodb:
        image: mongo:latest
        environment:
            - MONGO_DATA_DIR=/data/db
            - MONGO_LOG_DIR=/dev/null
        volumes:
            - ./data/db:/data/db
        ports:
            - 27019:27017
        command: mongod --smallfiles --logpath=/dev/null # --quiet
